In [120]:
# import numpy as np 
# import pandas as pd 
# import matplotlib.pyplot as plt
# import seaborn as sns
# import plotly.express as px
# import plotly.graph_objects as go

In [121]:
# pip install --upgrade numpy pandas

In [122]:
import numpy as np 
import pandas as pd 
# import matplotlib.pyplot as plt
# import seaborn as sns
# import plotly.express as px
# import plotly.graph_objects as go

In [123]:
# pip install --upgrade numpy pandas matplotlib seaborn plotly

In [124]:
import warnings
warnings.filterwarnings('ignore')

In [125]:
df = pd.read_csv('Copy of covid_affect.csv')

In [126]:
df.head()

,age,gender,occupation,line_of_work,time_bp,time_dp,travel_time,easeof_online,home_env,prod_inc,...,fam_connect,relaxed,self_time,like_hw,dislike_hw,prefer,certaindays_hw,Unnamed: 19,time_bp.1,travel+work
0,19-25,Male,Student in College,NaN,7,5,0.5,3,3,0.0,...,1.0,-0.5,-0.5,100,1,Complete Physical Attendance,Yes,NaN,7,NaN
1,Dec-18,Male,Student in School,NaN,7,11,0.5,4,2,-0.5,...,1.0,1.0,1.0,1111,1110,Complete Physical Attendance,No,NaN,7,NaN
2,19-25,Male,Student in College,NaN,7,7,1.5,2,2,1.0,...,0.5,0.5,0.5,1100,111,Complete Physical Attendance,Yes,NaN,7,NaN
3,19-25,Male,Student in College,NaN,7,7,1.5,3,1,0.0,...,0.0,-1.0,-0.5,100,1111,Complete Physical Attendance,Yes,NaN,7,NaN
4,19-25,Female,Student in College,NaN,7,7,1.5,2,2,0.0,...,0.0,0.5,0.0,1010,1000,Complete Physical Attendance,Yes,NaN,7,NaN

In [127]:
df.tail()

,age,gender,occupation,line_of_work,time_bp,time_dp,travel_time,easeof_online,home_env,prod_inc,...,fam_connect,relaxed,self_time,like_hw,dislike_hw,prefer,certaindays_hw,Unnamed: 19,time_bp.1,travel+work
1170,40-50,Female,Entrepreneur,NaN,9,9,0.5,2,1,0.5,...,0.5,0.0,0.0,10,1,Complete Physical Attendance,Yes,NaN,9,NaN
1171,26-32,Female,Homemaker,NaN,5,12,0.5,3,5,-0.5,...,0.0,-0.5,-0.5,100,111,Complete Physical Attendance,Maybe,NaN,5,NaN
1172,26-32,Male,Working Professional,Engineering,9,11,0.5,3,2,0.5,...,0.5,0.0,0.0,1111,110,Complete Physical Attendance,Maybe,NaN,9,NaN
1173,26-32,Male,Working Professional,Engineering,11,12,1.5,2,2,0.0,...,-1.0,0.0,-0.5,1111,1100,Complete Physical Attendance,Yes,NaN,11,NaN
1174,40-50,Male,Working Professional,Engineering,5,5,0.5,2,2,0.5,...,0.5,0.5,0.5,1100,101,Work/study from home,Yes,NaN,5,NaN

In [128]:
df.shape

(1175, 22)

In [129]:
df.columns

Index(['age', 'gender', 'occupation', 'line_of_work', 'time_bp', 'time_dp',
       'travel_time', 'easeof_online', 'home_env', 'prod_inc', 'sleep_bal',
       'new_skill', 'fam_connect', 'relaxed', 'self_time', 'like_hw',
       'dislike_hw', 'prefer', 'certaindays_hw', 'Unnamed: 19', 'time_bp.1',
       'travel+work'],
      dtype='object')

In [130]:
df.duplicated().sum()

762

In [131]:
df.isnull().sum()

age                  0
gender               0
occupation           0
line_of_work       696
time_bp              0
time_dp              0
travel_time          0
easeof_online        0
home_env             0
prod_inc             0
sleep_bal            0
new_skill            0
fam_connect          0
relaxed              0
self_time            0
like_hw              0
dislike_hw           0
prefer               0
certaindays_hw       0
Unnamed: 19       1175
time_bp.1            0
travel+work       1175
dtype: int64

In [132]:
df = df.drop(['line_of_work', 'Unnamed: 19', 'travel+work'], axis = 1)

In [133]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1175 entries, 0 to 1174
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             1175 non-null   object
 1   gender          1175 non-null   object
 2   occupation      1175 non-null   object
 3   time_bp         1175 non-null   int64
 4   time_dp         1175 non-null   int64
 5   travel_time     1175 non-null   float64
 6   easeof_online   1175 non-null   int64
 7   home_env        1175 non-null   int64
 8   prod_inc        1175 non-null   float64
 9   sleep_bal       1175 non-null   float64
 10  new_skill       1175 non-null   float64
 11  fam_connect     1175 non-null   float64
 12  relaxed         1175 non-null   float64
 13  self_time       1175 non-null   float64
 14  like_hw         1175 non-null   int64
 15  dislike_hw      1175 non-null   int64
 16  prefer          1175 non-null   object
 17  certaindays_hw  1175 non-null   object
 18  time_bp.1       1175 non-null   int64
dtypes: float64(7), int64(7), object(5)
memory usage: 174.5+ KB

In [134]:
df.describe()

,time_bp,time_dp,travel_time,easeof_online,home_env,prod_inc,sleep_bal,new_skill,fam_connect,relaxed,self_time,like_hw,dislike_hw,time_bp.1
count,1175.000000,1175.000000,1175.000000,1175.000000,1175.000000,1175.000000,1175.000000,1175.000000,1175.000000,1175.000000,1175.000000,1175.000000,1175.000000,1175.000000
mean,7.415319,7.971915,1.027660,2.533617,2.752340,0.008936,-0.108936,0.146809,0.260426,0.035745,0.082979,734.840851,651.067234,7.415319
std,2.005385,2.657007,0.713314,1.267609,1.235799,0.615083,0.621215,0.643686,0.686825,0.626637,0.541434,468.000935,502.319310,2.005385
min,4.000000,4.000000,0.500000,1.000000,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,1.000000,1.000000,4.000000
25%,5.000000,5.000000,0.500000,1.000000,2.000000,-0.500000,-0.500000,-0.500000,0.000000,-0.500000,-0.500000,100.000000,101.000000,5.000000
50%,7.000000,9.000000,0.500000,2.000000,3.000000,0.000000,0.000000,0.500000,0.500000,0.000000,0.000000,1001.000000,1000.000000,7.000000
75%,9.000000,9.000000,1.500000,4.000000,4.000000,0.500000,0.500000,0.500000,1.000000,0.500000,0.500000,1100.000000,1101.000000,9.000000
max,12.000000,12.000000,3.000000,5.000000,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1111.000000,1111.000000,12.000000

In [135]:
df.nunique()

age                7
gender             3
occupation         8
time_bp            6
time_dp            6
travel_time        4
easeof_online      5
home_env           5
prod_inc           5
sleep_bal          5
new_skill          5
fam_connect        5
relaxed            5
self_time          5
like_hw           15
dislike_hw        15
prefer             2
certaindays_hw     3
time_bp.1          6
dtype: int64

In [136]:
numerical_columns = df.select_dtypes(include=['int64', 'float64']).columns
print("Numerical Columns:",numerical_columns)

object_columns = df.select_dtypes(include=['object']).columns
print("\nObject Columns:",object_columns)

Numerical Columns: Index(['time_bp', 'time_dp', 'travel_time', 'easeof_online', 'home_env',
       'prod_inc', 'sleep_bal', 'new_skill', 'fam_connect', 'relaxed',
       'self_time', 'like_hw', 'dislike_hw', 'time_bp.1'],
      dtype='object')

Object Columns: Index(['age', 'gender', 'occupation', 'prefer', 'certaindays_hw'], dtype='object')

In [137]:
for column in numerical_columns:
    unique_values = df[column].unique()
    print(f"{column}: {unique_values}")

time_bp: [ 7  5  9 11  4 12]
time_dp: [ 5 11  7  4  9 12]
travel_time: [0.5 1.5 2.5 3. ]
easeof_online: [3 4 2 1 5]
home_env: [3 2 1 4 5]
prod_inc: [ 0.  -0.5  1.  -1.   0.5]
sleep_bal: [ 0.   0.5  1.  -1.  -0.5]
new_skill: [ 0.5 -1.   0.   1.  -0.5]
fam_connect: [ 1.   0.5  0.  -0.5 -1. ]
relaxed: [-0.5  1.   0.5 -1.   0. ]
self_time: [-0.5  1.   0.5  0.  -1. ]
like_hw: [ 100 1111 1100 1010  110 1000 1110   10 1001    1 1011   11  101  111
 1101]
dislike_hw: [   1 1110  111 1111 1000 1100 1101  100 1011 1001 1010   10  101   11
  110]
time_bp.1: [ 7  5  9 11  4 12]

In [138]:
for column in object_columns:
    unique_values = df[column].unique()
    print(f"{column}: {unique_values}")

age: ['19-25' 'Dec-18' '33-40' '60+' '26-32' '40-50' '50-60']
gender: ['Male' 'Female' 'Prefer not to say']
occupation: ['Student in College' 'Student in School' 'Working Professional'
 'Entrepreneur' 'Retired/Senior Citizen' 'Homemaker'
 'Currently Out of Work'
 'Medical Professional aiding efforts against COVID-19']
prefer: ['Complete Physical Attendance' 'Work/study from home']
certaindays_hw: ['Yes' 'No' 'Maybe']

In [139]:
for column in numerical_columns:
    value_counts = df[column].value_counts()
    print(column,':') 
    print(value_counts)
    print('\n')

time_bp :
time_bp
7     412
9     343
5     283
11     53
12     51
4      33
Name: count, dtype: int64


time_dp :
time_dp
9     326
7     238
5     180
12    169
4     149
11    113
Name: count, dtype: int64


travel_time :
travel_time
0.5    699
1.5    343
2.5    111
3.0     22
Name: count, dtype: int64


easeof_online :
easeof_online
1    329
2    285
4    249
3    239
5     73
Name: count, dtype: int64


home_env :
home_env
3    327
2    309
1    215
4    200
5    124
Name: count, dtype: int64


prod_inc :
prod_inc
 0.5    302
 0.0    295
-0.5    279
-1.0    150
 1.0    149
Name: count, dtype: int64


sleep_bal :
sleep_bal
-0.5    313
 0.5    271
 0.0    270
-1.0    214
 1.0    107
Name: count, dtype: int64


new_skill :
new_skill
 0.5    366
-0.5    249
 1.0    236
 0.0    202
-1.0    122
Name: count, dtype: int64


fam_connect :
fam_connect
 0.5    414
 1.0    326
-1.0    181
 0.0    162
-0.5     92
Name: count, dtype: int64


relaxed :
relaxed
 0.0    306
 0.5    274
-0.5    268
 1.0    183
-1.0    144
Name: count, dtype: int64


self_time :
self_time
 0.0    417
 0.5    289
-0.5    252
 1.0    148
-1.0     69
Name: count, dtype: int64


like_hw :
like_hw
100     233
1100    188
1000    188
1110    188
1111     95
10       64
110      61
1010     55
1001     42
1        17
1011     17
11        9
1101      7
101       6
111       5
Name: count, dtype: int64


dislike_hw :
dislike_hw
1111    264
1       211
1000    150
101     110
1100     87
111      67
1101     61
1011     59
100      45
1010     30
1001     21
1110     20
10       20
110      19
11       11
Name: count, dtype: int64


time_bp.1 :
time_bp.1
7     412
9     343
5     283
11     53
12     51
4      33
Name: count, dtype: int64

In [140]:
for column in object_columns:
    value_counts = df[column].value_counts()
    print(column,':') 
    print(value_counts)
    print('\n')

age :
age
19-25     345
26-32     261
40-50     181
50-60     170
33-40     102
Dec-18     74
60+        42
Name: count, dtype: int64


gender :
gender
Male                 649
Female               518
Prefer not to say      8
Name: count, dtype: int64


occupation :
occupation
Working Professional                                    479
Student in College                                      358
Entrepreneur                                            119
Homemaker                                                82
Medical Professional aiding efforts against COVID-19     73
Currently Out of Work                                    44
Student in School                                        18
Retired/Senior Citizen                                    2
Name: count, dtype: int64


prefer :
prefer
Complete Physical Attendance    836
Work/study from home            339
Name: count, dtype: int64


certaindays_hw :
certaindays_hw
Yes      568
No       309
Maybe    298
Name: count, dtype: int64

In [141]:
df.columns

Index(['age', 'gender', 'occupation', 'time_bp', 'time_dp', 'travel_time',
       'easeof_online', 'home_env', 'prod_inc', 'sleep_bal', 'new_skill',
       'fam_connect', 'relaxed', 'self_time', 'like_hw', 'dislike_hw',
       'prefer', 'certaindays_hw', 'time_bp.1'],
      dtype='object')

In [142]:
df['age'].unique()

array(['19-25', 'Dec-18', '33-40', '60+', '26-32', '40-50', '50-60'],
      dtype=object)

In [143]:
age_mapping = {
    '19-25': 22,
    'Dec-18': 18,  
    '33-40': 36.5,
    '60+': 65,
    '26-32': 29,
    '40-50': 45,
    '50-60': 55
}

In [144]:
df['age'] = df['age'].map(age_mapping)

In [145]:
df.columns

Index(['age', 'gender', 'occupation', 'time_bp', 'time_dp', 'travel_time',
       'easeof_online', 'home_env', 'prod_inc', 'sleep_bal', 'new_skill',
       'fam_connect', 'relaxed', 'self_time', 'like_hw', 'dislike_hw',
       'prefer', 'certaindays_hw', 'time_bp.1'],
      dtype='object')

In [146]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1175 entries, 0 to 1174
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             1175 non-null   float64
 1   gender          1175 non-null   object
 2   occupation      1175 non-null   object
 3   time_bp         1175 non-null   int64
 4   time_dp         1175 non-null   int64
 5   travel_time     1175 non-null   float64
 6   easeof_online   1175 non-null   int64
 7   home_env        1175 non-null   int64
 8   prod_inc        1175 non-null   float64
 9   sleep_bal       1175 non-null   float64
 10  new_skill       1175 non-null   float64
 11  fam_connect     1175 non-null   float64
 12  relaxed         1175 non-null   float64
 13  self_time       1175 non-null   float64
 14  like_hw         1175 non-null   int64
 15  dislike_hw      1175 non-null   int64
 16  prefer          1175 non-null   object
 17  certaindays_hw  1175 non-null   object
 18  time_bp.1       1175 non-null   int64
dtypes: float64(8), int64(7), object(4)
memory usage: 174.5+ KB

In [147]:
change_columns = ['prod_inc', 'sleep_bal', 'new_skill', 'fam_connect', 'relaxed', 'self_time']
df['lifestyle_change'] = df[change_columns].apply(lambda row: np.any(np.abs(row) > 0.5), axis=1).astype(int)

In [148]:
df['lifestyle_change'].unique()

array([1, 0])

In [149]:
df['lifestyle_change'].value_counts()

lifestyle_change
1    761
0    414
Name: count, dtype: int64

In [150]:
# pip install --upgrade  scipy scikit-learn



from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [151]:
numerical_transformer = StandardScaler()

In [152]:
df_numerical = pd.DataFrame(numerical_transformer.fit_transform(df[numerical_columns]), columns=numerical_columns)

In [153]:
categorical_transformer = OneHotEncoder(handle_unknown='ignore')

In [154]:
df_categorical = pd.get_dummies(df[object_columns], columns=object_columns)

In [155]:
df_preprocessed = pd.concat([df_numerical, df_categorical, df['lifestyle_change']], axis=1)

In [156]:
df_preprocessed.columns

Index(['time_bp', 'time_dp', 'travel_time', 'easeof_online', 'home_env',
       'prod_inc', 'sleep_bal', 'new_skill', 'fam_connect', 'relaxed',
       'self_time', 'like_hw', 'dislike_hw', 'time_bp.1', 'age_18.0',
       'age_22.0', 'age_29.0', 'age_36.5', 'age_45.0', 'age_55.0', 'age_65.0',
       'gender_Female', 'gender_Male', 'gender_Prefer not to say',
       'occupation_Currently Out of Work', 'occupation_Entrepreneur',
       'occupation_Homemaker',
       'occupation_Medical Professional aiding efforts against COVID-19',
       'occupation_Retired/Senior Citizen', 'occupation_Student in College',
       'occupation_Student in School', 'occupation_Working Professional',
       'prefer_Complete Physical Attendance', 'prefer_Work/study from home',
       'certaindays_hw_Maybe', 'certaindays_hw_No', 'certaindays_hw_Yes',
       'lifestyle_change'],
      dtype='object')

In [157]:
X = df_preprocessed.drop(columns='lifestyle_change')
y = df_preprocessed['lifestyle_change']

In [158]:
X.columns

Index(['time_bp', 'time_dp', 'travel_time', 'easeof_online', 'home_env',
       'prod_inc', 'sleep_bal', 'new_skill', 'fam_connect', 'relaxed',
       'self_time', 'like_hw', 'dislike_hw', 'time_bp.1', 'age_18.0',
       'age_22.0', 'age_29.0', 'age_36.5', 'age_45.0', 'age_55.0', 'age_65.0',
       'gender_Female', 'gender_Male', 'gender_Prefer not to say',
       'occupation_Currently Out of Work', 'occupation_Entrepreneur',
       'occupation_Homemaker',
       'occupation_Medical Professional aiding efforts against COVID-19',
       'occupation_Retired/Senior Citizen', 'occupation_Student in College',
       'occupation_Student in School', 'occupation_Working Professional',
       'prefer_Complete Physical Attendance', 'prefer_Work/study from home',
       'certaindays_hw_Maybe', 'certaindays_hw_No', 'certaindays_hw_Yes'],
      dtype='object')

In [159]:
X.to_csv('covid_preprocessed_data.csv', index=False)

In [160]:
X

,time_bp,time_dp,travel_time,easeof_online,home_env,prod_inc,sleep_bal,new_skill,fam_connect,relaxed,...,occupation_Medical Professional aiding efforts against COVID-19,occupation_Retired/Senior Citizen,occupation_Student in College,occupation_Student in School,occupation_Working Professional,prefer_Complete Physical Attendance,prefer_Work/study from home,certaindays_hw_Maybe,certaindays_hw_No,certaindays_hw_Yes
0,-0.207190,-1.118996,-0.740045,0.368080,0.200490,-0.014535,0.175435,0.548935,1.077260,-0.855317,...,False,False,True,False,False,True,False,False,False,True
1,-0.207190,1.140145,-0.740045,1.157303,-0.609048,-0.827779,0.980651,-1.782386,1.077260,1.539434,...,False,False,False,True,False,True,False,False,True,False
2,-0.207190,-0.365949,0.662459,-0.421143,-0.609048,1.611954,0.175435,0.548935,0.348963,0.741184,...,False,False,True,False,False,True,False,False,False,True
3,-0.207190,-0.365949,0.662459,0.368080,-1.418586,-0.014535,1.785868,0.548935,-0.379334,-1.653567,...,False,False,True,False,False,True,False,False,False,True
4,-0.207190,-0.365949,0.662459,-0.421143,-0.609048,-0.014535,0.175435,-0.228172,-0.379334,0.741184,...,False,False,True,False,False,True,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1170,0.790549,0.387098,-0.740045,-0.421143,-1.418586,0.798710,-0.629782,-1.005279,0.348963,-0.057066,...,False,False,False,False,False,True,False,False,False,True
1171,-1.204929,1.516669,-0.740045,0.368080,1.819565,-0.827779,-1.434999,-1.005279,-0.379334,-0.855317,...,False,False,False,False,False,True,False,True,False,False
1172,0.790549,1.140145,-0.740045,0.368080,-0.609048,0.798710,0.980651,0.548935,0.348963,-0.057066,...,False,False,False,False,True,True,False,True,False,False
1173,1.788288,1.516669,0.662459,-0.421143,-0.609048,-0.014535,0.175435,-0.228172,-1.835929,-0.057066,...,False,False,False,False,True,True,False,False,False,True
1174,-1.204929,-1.118996,-0.740045,-0.421143,-0.609048,0.798710,-0.629782,0.548935,0.348963,0.741184,...,False,False,False,False,True,False,True,False,False,True

In [161]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify = y, random_state=0)

In [162]:
X_train.shape, X_test.shape

((940, 37), (235, 37))

In [163]:
y_train.shape, y_test.shape

((940,), (235,))

In [164]:
from sklearn.tree import DecisionTreeClassifier

In [165]:
import sklearn
print(sklearn.__version__)

1.3.0

In [166]:
model_dt = DecisionTreeClassifier()

In [167]:
model_dt.fit(X_train, y_train)

DecisionTreeClassifier()

In [168]:
y_pred = model_dt.predict(X_test)

In [169]:
from sklearn.metrics import accuracy_score, classification_report

In [170]:
accuracy_dt = accuracy_score(y_test, y_pred)

In [171]:
print("Accuracy: ", accuracy_dt * 100)
print("\nClassification Report: \n", classification_report(y_test, y_pred))

Accuracy:  99.57446808510639

Classification Report:
               precision    recall  f1-score   support

           0       1.00      0.99      0.99        83
           1       0.99      1.00      1.00       152

    accuracy                           1.00       235
   macro avg       1.00      0.99      1.00       235
weighted avg       1.00      1.00      1.00       235

In [172]:
import pickle

In [173]:
filename = 'decision_tree_model_covid.pkl'
with open(filename, 'wb') as file:
    pickle.dump(model_dt, file)